#main-container {
  width: 500px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.493);
  background-color: #e2e7ba;
}
h1, h2 {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.301);
  background-color: rgba(128, 128, 128, 0.582);
  color: white;
}
